.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f2f5;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  padding: 30px;
}
.addTask {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  width: 100%;
  max-width: 500px;
  display: flex;
}

.addTask input {
  flex-grow: 1; 
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.addTask input:focus {
  border-color: #007bff;
}

.addTask button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #28a745; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.list {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
}



.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white; 
  padding: 15px 20px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}

.task h1 {
  font-size: 18px;
  color: #333;
  margin: 0;
  flex-grow: 1;
}

.task .buttons {
    display: flex;
    gap: 10px;
}

.task button {
  padding: 5px 10px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}


.task button.complete {
  background-color: #007bff;
}

.task button.delete {
  background-color: #dc3545; 
}

.task.completed {
  background-color: #058826e0;
  
}
